version: '3.9'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: nextjs-dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - C:/DEV/envocc-media/frontend/public/fileuploads-data:/app/public/fileuploads-data
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    depends_on:
      - db
    networks:
      - internal_net

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: media
      MYSQL_USER: myuser
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - internal_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    environment:
      PMA_HOST: db
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - internal_net

volumes:
  db-data:

networks:
  internal_net:
